.Header
{
	border-right: #00fe23 1px solid;
	border-top: #00fe23 1px solid;
	border-left: #00fe23 1px solid;
	border-bottom: #00fe23 1px solid;

	padding-right: 7px;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	color: #00fe23;
	background-color: #003902;
	FONT-SIZE: 9px;	
	height 20px;
	
}
.TextHead
{
	border-right: #00fe23 1px solid;
	font-size: 14px;
	border-left: #00fe23 1px solid;
	color: #00fe23;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: Arial;
	position: relative;
	background-color: #055510;
}
.TextArea
{
	border-right: #00fe23 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 7px;
	border-left: #00fe23 1px solid;
	color: #00fe23;
	font-size: 9px;
	border-bottom: #00fe23 1px solid;
	font-family: Arial;
	background-color: #107110;
}
