BODY
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    COLOR: blue;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: white
}
#idToolbar
{
    LEFT: -20px;
    POSITION: relative
}
P
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
H1
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 24pt;
    COLOR: black;
    FONT-FAMILY: Helvetica, Futura, Arial
}
H2
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 20pt;
    COLOR: black;
    FONT-FAMILY: Helvetica, Futura, Arial
}
H3
{
    FONT-SIZE: 18pt;
    COLOR: black;
    FONT-FAMILY: Helvetica, Futura, Arial
}
H4
{
    FONT-SIZE: 16pt;
    COLOR: black;
    FONT-FAMILY: Helvetica, Futura, Arial
}
H5
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Helvetica, Futura, Arial
}
H6
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10px;
    MARGIN-LEFT: 0px;
    COLOR: black;
    MARGIN-RIGHT: 0px;
    FONT-FAMILY: Verdana, Arial
}
.TableGeneral
{
    BORDER-RIGHT: black;
    BORDER-TOP: black;
    MARGIN: 0px 0px 0px 30px;
    BORDER-LEFT: black;
    BORDER-BOTTOM: black
}
INPUT
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial
}
TD.TDSpace
{
    PADDING-RIGHT: 15px
}
BUTTON
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #bd8cbf
}
A
{
    FONT-SIZE: 11px;
    COLOR: white;
    TEXT-DECORATION: none
}
.TDBody
{
    BORDER-RIGHT: aqua;
    BORDER-TOP: aqua;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: aqua;
    COLOR: black;
    BORDER-BOTTOM: black 1px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: white
}
TD.tdRight
{
    BORDER-RIGHT: medium none;
    WIDTH: 2px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: black
}
TD.tdHead2
{
    FONT-WEIGHT: bolder
}
.TDHead1
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    COLOR: #f0fff0;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #634a8e
}
.TDHead
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: #634a8e
}
TD.TDHeadLink
{
    FONT-SIZE: 11px;
    COLOR: #634a8e;
    FONT-FAMILY: Verdana, Arial
}
TD.TDHead1Yellow
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: #634a8e;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #ffffdc
}
TABLE.TableMeny
{
    MARGIN-LEFT: 5px
}
A:hover
{
    COLOR: #99ccff
}
.ImageList
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    BORDER-LEFT: 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 1px solid
}
.Headersmall
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
